/* imports */
@import "partials/variables";
@import "partials/mixins";

/* style resets start */
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
a {
    text-decoration: none !important;
    &:hover {
        color: inherit;
    }
}
/* style resets end */

/* common styles start */
.white {
    color: $white;
}
.orange {
    color: $orange;
}
.blue {
    @include customLink($blue);
}
.gray {
    @include customLink($gray);
}
.active-link {
    background-color: $active;
    &::before {
        content: "";
        width: 3px;
        height: 100%;
        background-color: $orange;
        position: absolute;
        left: 0;
    }
}
.active-toggler {
    background-color: $active;
}
/* common styles end */

/* sidebar styles start */
main aside.sidebar {
    width: 205px;
    height: 100vh;
    background-color: $dark-color;
    position: fixed;
    /* sidebar logo styles start */
    div.logo {
        height: $header-height;
    }
    /* sidebar logo styles end */
    /* sidebar navigation links styles start */
    nav.aside-menu {
        ul {
            li {
                a {
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    /* sidebar navigation links styles end */
    /* sidebar footer styles start */
    footer {
        bottom: 0;
        .theme-toggler {
            background-color: #1B2630;
            width: 128px;
            border-radius: 70px;
            height: 40px;
            padding: 0 4px !important;
            a {
                border-radius: 90px;
                width: 60px;
                height: 32px;
            }
        }
        p {
            font-size: $smaller-font;
        }
    }
    /* sidebar footer styles end */
}
/* sidebar styles end */

/* main content styles start */
/* main content styles end */