/* imports */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/* sidebar styles start */
main aside.sidebar {
  width: 205px;
  height: 100vh;
  background-color: #323E48;
  position: fixed;
  /* sidebar logo styles start */
  /* sidebar logo styles end */
  /* sidebar navigation links styles start */
  /* sidebar navigation links styles end */
  /* sidebar footer styles start */
  /* sidebar footer styles end */ }
  main aside.sidebar div.logo {
    height: 80px; }
  main aside.sidebar nav.aside-menu ul li a:hover {
    color: #fff; }
  main aside.sidebar footer {
    bottom: 0; }
    main aside.sidebar footer .theme-toggler {
      background-color: #1B2630;
      width: 128px;
      border-radius: 70px;
      height: 40px;
      padding: 0 4px !important; }
      main aside.sidebar footer .theme-toggler a {
        border-radius: 90px;
        width: 60px;
        height: 32px; }
    main aside.sidebar footer p {
      font-size: 14px; }

/* sidebar styles end */
section.main-content {
  /* navbar styles start */
  /* navbar styles end */ }
  section.main-content nav {
    height: 80px;
    /* search box styles start */
    /* search box styles end */
    /* new appeal button and dropdown styles start */
    /* new appeal button and dropdown styles end */
    /* account information styles start */
    /* account information styles end */ }
    section.main-content nav .search-box input {
      border: none;
      background: transparent; }
      section.main-content nav .search-box input::placeholder {
        font-size: 14px;
        color: #C0C5C7; }
    section.main-content nav .new-appeal button {
      background-color: #FFCD00;
      border-radius: 3px;
      font-size: 14px;
      border: none;
      width: 146px; }
    section.main-content nav .new-appeal .appeal-dropdown {
      transition: opacity .5s;
      border-radius: 5px; }
      section.main-content nav .new-appeal .appeal-dropdown a {
        font-size: 14px; }
    section.main-content nav .account-info > div {
      width: 36px;
      height: 36px;
      border-radius: 50%; }
      section.main-content nav .account-info > div img {
        width: 100%;
        height: 100%;
        border-radius: 50%; }

/* custom scroll styles */
::-webkit-scrollbar-track {
  -webkit--box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
  background-color: #F5F5F5; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit--box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #776f6f; }

/* custom scroll styles */
/* style resets start */
* {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: border-box !important; }

body {
  background-color: #f5f7f9;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none !important; }

/* style resets end */
/* common styles start */
.white {
  color: #fff; }

.orange {
  color: #FF8300; }

.dark {
  color: #323E48; }
  .dark:hover {
    color: #323E48; }

.blue {
  color: #008DDD; }
  .blue:hover {
    color: #008DDD; }

.gray {
  color: #C0C5C7; }
  .gray:hover {
    color: #C0C5C7; }

.active-link {
  background-color: rgba(196, 196, 196, 0.2); }
  .active-link::before {
    content: "";
    width: 3px;
    height: 100%;
    background-color: #FF8300;
    position: absolute;
    left: 0; }

.active-toggler {
  background-color: rgba(196, 196, 196, 0.2); }

.shadowed {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(36, 64, 73, 0.05);
  -moz-box-shadow: 0px 4px 30px 0px rgba(36, 64, 73, 0.05);
  box-shadow: 0px 4px 30px 0px rgba(36, 64, 73, 0.05); }

.shadowed-dropdown {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(36, 64, 73, 0.13);
  -moz-box-shadow: 0px 4px 30px 0px rgba(36, 64, 73, 0.13);
  box-shadow: 0px 4px 30px 0px rgba(36, 64, 73, 0.13); }

.shadowed-button {
  -webkit-box-shadow: 0px 4px 30px 0px rgba(36, 64, 73, 0.25);
  -moz-box-shadow: 0px 4px 30px 0px rgba(36, 64, 73, 0.25);
  box-shadow: 0px 4px 30px 0px rgba(36, 64, 73, 0.25); }

.hidden {
  opacity: 0;
  transition: opacity .5s; }

.page-heading {
  font-size: 28px;
  font-weight: 600; }

.form-gap {
  gap: 20px; }

.child-gap {
  gap: 10px; }

button:focus {
  outline: 0 !important; }

.white-bg {
  background-color: #fff; }

.dark-bg {
  background-color: #2D3135; }

/* common styles end */
/* main content styles start */
section.main-content {
  width: calc(100% - 205px);
  /* statistics section styles start */
  /* statistics section styles end */
  /* agreements section styles start */
  /* agreements section styles end */
  /* create appeal styles start */
  /* create appeal styles end */ }
  section.main-content div.statistics {
    height: 250px;
    border-radius: 5px;
    padding: 40px 60px !important; }
    section.main-content div.statistics h1 {
      font-size: 34px;
      font-weight: 600; }
    section.main-content div.statistics p {
      font-size: 18px; }
    section.main-content div.statistics h6 {
      font-size: 14px; }
    section.main-content div.statistics strong {
      font-size: 24px; }
  section.main-content div.agreements .agreements-table table {
    border-collapse: separate;
    border-radius: 5px; }
    section.main-content div.agreements .agreements-table table tr {
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1); }
    section.main-content div.agreements .agreements-table table th {
      font-size: 14px; }
      section.main-content div.agreements .agreements-table table th.status-header {
        width: 150px; }
    section.main-content div.agreements .agreements-table table td {
      color: #323E48;
      font-size: 14px; }
    section.main-content div.agreements .agreements-table table .status {
      width: 90%;
      height: 34px;
      border-radius: 3px; }
    section.main-content div.agreements .agreements-table table .valid {
      background-color: rgba(41, 199, 123, 0.3);
      color: #34D186; }
    section.main-content div.agreements .agreements-table table .expired {
      background-color: rgba(255, 131, 0, 0.3);
      color: #FF8300; }
    section.main-content div.agreements .agreements-table table .invalid {
      background-color: rgba(225, 37, 27, 0.3);
      color: #E1251B; }
  section.main-content div.create-appeal div.filter form {
    font-size: 15px;
    font-weight: 500; }
    section.main-content div.create-appeal div.filter form .filter-content {
      margin: 20px 0 !important;
      border-radius: 5px; }
      section.main-content div.create-appeal div.filter form .filter-content h3 {
        color: #FF8300;
        font-size: 20px;
        font-weight: 700; }
      section.main-content div.create-appeal div.filter form .filter-content label {
        margin-bottom: 5px !important; }
      section.main-content div.create-appeal div.filter form .filter-content .input-wrapper {
        margin: 10px 0 !important; }
      section.main-content div.create-appeal div.filter form .filter-content input {
        padding-left: 16px !important; }
    section.main-content div.create-appeal div.filter form .form-button {
      width: 139px;
      height: 40px;
      border: none;
      font-weight: 600;
      font-size: 14px;
      border-radius: 3px; }
      section.main-content div.create-appeal div.filter form .form-button.refuse {
        background-color: #fff;
        color: #323E48; }
      section.main-content div.create-appeal div.filter form .form-button.apply {
        background-color: #FF8300;
        color: #fff; }

/* main content styles end */
body.dark-mode {
  background-color: #212529;
  color: #fff !important; }
  body.dark-mode td, body.dark-mode th {
    color: #fff !important; }
  body.dark-mode a.username {
    color: #fff; }
  body.dark-mode .appeal-dropdown a {
    color: #fff; }
  body.dark-mode input {
    background-color: #34383D;
    color: #fff; }
  body.dark-mode label {
    color: rgba(255, 255, 255, 0.5); }

/*# sourceMappingURL=styles.css.map */
