/* imports */
@import "partials/variables";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* style resets start */
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
body {
    background-color: #f5f7f9;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none !important;
}
/* style resets end */

/* common styles start */
.white {
    color: $white;
}
.orange {
    color: $orange;
}
.dark {
    @include customLink($dark-color);
}
.blue {
    @include customLink($blue);
}
.gray {
    @include customLink($gray);
}
.active-link {
    background-color: $active;
    &::before {
        content: "";
        width: 3px;
        height: 100%;
        background-color: $orange;
        position: absolute;
        left: 0;
    }
}
.active-toggler {
    background-color: $active;
}
.shadowed {
    @include setShadow(36, 64, 73, 0.05);
}
.shadowed-dropdown {
    @include setShadow(36, 64, 73, 0.13);
}
.hidden {
    opacity: 0;
    transition: opacity .5s;
}
/* common styles end */

/* sidebar styles start */
main aside.sidebar {
    width: 205px;
    height: 100vh;
    background-color: $dark-color;
    position: fixed;
    /* sidebar logo styles start */
    div.logo {
        height: $header-height;
    }
    /* sidebar logo styles end */
    /* sidebar navigation links styles start */
    nav.aside-menu {
        ul {
            li {
                a {
                    &:hover {
                        color: $white;
                    }
                }
            }
        }
    }
    /* sidebar navigation links styles end */
    /* sidebar footer styles start */
    footer {
        bottom: 0;
        .theme-toggler {
            background-color: #1B2630;
            width: 128px;
            border-radius: 70px;
            height: 40px;
            padding: 0 4px !important;
            a {
                border-radius: 90px;
                width: 60px;
                height: 32px;
            }
        }
        p {
            font-size: $smaller-font;
        }
    }
    /* sidebar footer styles end */
}
/* sidebar styles end */

/* main content styles start */
section.main-content {
    width: calc(100% - 205px);
    nav {
        height: $header-height;
        background-color: $white;
        .search-box {
            input {
                border: none;
                &::placeholder {
                    font-size: $smaller-font;
                    color: #C0C5C7;
                }
            }
        }
        .new-appeal {
            button {
                background-color: $yellow;
                border-radius: 3px;
                font-size: $smaller-font;
                border: none;
                width: 146px;
                &:focus {
                    outline: 0 !important;
                }
            }
            .appeal-dropdown {
                background-color: $white;
                transition: opacity .5s;
                border-radius: 5px;
                a {
                    font-size: $smaller-font;
                }
            }
        }
        .account-info {
            > div {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                }
            }
        }
    }
}
/* main content styles end */