/* imports */
@import "partials/variables";
@import "partials/mixins";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "partials/sidebar";
@import "partials/navbar";

/* custom scroll styles */
::-webkit-scrollbar-track {
    -webkit--box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit--box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #776f6f;
}
/* custom scroll styles */

/* style resets start */
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
}
body {
    background-color: #f5f7f9;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none !important;
}
/* style resets end */

/* common styles start */
.white {
    color: $white;
}
.orange {
    color: $orange;
}
.dark {
    @include customLink($dark);
}
.blue {
    @include customLink($blue);
}
.gray {
    @include customLink($gray);
}
.active-link {
    background-color: $active;
    &::before {
        content: "";
        width: 3px;
        height: 100%;
        background-color: $orange;
        position: absolute;
        left: 0;
    }
}
.active-toggler {
    background-color: $active;
}
.shadowed {
    @include setShadow(36, 64, 73, 0.05);
}
.shadowed-dropdown {
    @include setShadow(36, 64, 73, 0.13);
}
.shadowed-button {
    @include setShadow(36, 64, 73, 0.25);
}
.hidden {
    opacity: 0;
    transition: opacity .5s;
}
.page-heading {
    font-size: $large-font;
    font-weight: $bold;
}
.form-gap {
    @include setGap(20px);
}
.child-gap {
    @include setGap(10px);
}
button:focus {
    outline: 0 !important;
}
.white-bg {
    background-color: $white;
}
.dark-bg {
    background-color: #2D3135;
}
/* common styles end */

/* main content styles start */
section.main-content {
    width: calc(100% - 205px);
    /* statistics section styles start */
    div.statistics {
        height: 250px;
        border-radius: 5px;
        padding: 40px 60px !important;
        h1 {
            font-size: $larger-font;
            font-weight: $bold;
        }
        p {
            font-size: 18px;
        }
        h6 {
            font-size: $smaller-font;
        }
        strong {
            font-size: $medium-font;
        }
    }
    /* statistics section styles end */

    /* agreements section styles start */
    div.agreements {
        .agreements-table {
            table {
                border-collapse: separate;
                border-radius: 5px;
                tr {
                    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
                }
                th {
                    font-size: $smaller-font;
                    &.status-header {
                        width: 150px;
                    }
                }
                td {
                    color: $dark;
                    font-size: $smaller-font;
                }
                .status {
                    width: 90%;
                    height: 34px;
                    border-radius: 3px;
                }
                .valid {
                    background-color: rgba(41, 199, 123, .3);
                    color: #34D186;
                }
                .expired {
                    background-color: rgba(255, 131, 0, .3);
                    color: $orange;
                }
                .invalid {
                    background-color: rgba(225, 37, 27, .3);
                    color: #E1251B;
                }
            }
        }
    }
    /* agreements section styles end */

    /* create appeal styles start */
    div.create-appeal {
        div.filter {
            form {
                font-size: 15px;
                font-weight: 500;
                .filter-content {
                    margin: 20px 0 !important;
                    border-radius: 5px;
                    h3 {
                        color: $orange;
                        font-size: 20px;
                        font-weight: $bolder;
                    }
                    label {
                        margin-bottom: 5px !important;
                    }
                    .input-wrapper {
                        margin: 10px 0 !important;
                    }
                    input {
                        padding-left: 16px !important;
                    }
                }
                .form-button {
                    width: 139px;
                    height: 40px;
                    border: none;
                    font-weight: 600;
                    font-size: $smaller-font;
                    border-radius: 3px;
                    &.refuse {
                        background-color: $white;
                        color: $dark;
                    }
                    &.apply {
                        background-color: $orange;
                        color: $white;
                    }
                }
            }
        }
    }
    /* create appeal styles end */
}
/* main content styles end */

@import "dark-mode";