// colors
$dark: #323E48;
$white: #fff;
$orange: #FF8300;
$blue: #008DDD;
$gray: #C0C5C7;
$active: rgba(196, 196, 196, .2);
$yellow: #FFCD00;

// sizing
$header-height: 80px;
$larger-font: 34px;
$medium-font: 24px;
$smaller-font: 14px;

// font weights
$bold: 600;